/*CSS for setting 1*/
#WP-CYCLE-SETTING1 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 1*/


/*CSS for setting 2*/
#WP-CYCLE-SETTING2 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 2*/


/*CSS for setting 3*/
#WP-CYCLE-SETTING3 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 3*/


/*CSS for setting 4*/
#WP-CYCLE-SETTING4 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 4*/


/*CSS for setting 5*/
#WP-CYCLE-SETTING5 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 5*/

/*CSS for setting 6*/
#WP-CYCLE-SETTING6 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 6*/


/*CSS for setting 7*/
#WP-CYCLE-SETTING7 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 7*/


/*CSS for setting 8*/
#WP-CYCLE-SETTING8 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 8*/


/*CSS for setting 9*/
#WP-CYCLE-SETTING9 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 9*/


/*CSS for setting 10*/
#WP-CYCLE-SETTING10 p {
	width:100%;
	vertical-align:middle;
	padding-top:5px;
}
/*CSS for setting 10*/